@{
    ViewData["Title"] = "Controller";
}
<header class="text-center">
    <h1 class="display-4">Controller</h1>
</header>
<main>
    <p> — приймає дані або подію від <em>View</em> і може діяти таким чином, наприклад:</p>
    <ul>
        <li>за допомогою виключень обирає конкретний метод <em>Model</em>, який треба викликати, спираючись на дані або подію від <em>View</em>;</li>
        <li>формує обʼєкт з отриманих параметрів, який передаємо до <em>Model</em> за допомогою метода, функції <em>Model</em> або створюємо http–запит до <em>model</em>.</li>
    </ul>
    <div class="model-container">
        <img src="https://i.stack.imgur.com/YgydT.png" />
        <img src="https://lh3.googleusercontent.com/blogger_img_proxy/AHs97-l0D5BWKpB4I23ztPulwb7Ox7I7dkxYdSs9fKNz0F8n3-FXCRgtH_gXfAL0QcM2cc5EtVj3E5NrUVsUppFcdR2eozeZa61sJK5Y_34Yor7b_5PLp48=s0-d" />
    </div>
</main>