@{
    ViewData["Title"] = "Model";
}
<header class="text-center">
    <h1 class="display-4">Model</h1>
</header>
<main>
    <p> — це бізнес-логіка додатку, в ньому відбуваються найважчі процеси (обробка, сортування, запис даних, 
        звернення до бази даних, генерація вебсторінки тощо), і після виконаної події відправляє результат до <em>View</em>.
    </p>
    <p><em><b>Модель</b></em> є центральним компонентом шаблону MVC і відображає поведінку застосунку, незалежну від інтерфейсу користувача.
        <em>Модель</em> стосується прямого керування даними, логікою та правилами застосунку.</p>
    <ul>
        <li><p><em><b>Активна модель</b></em> - вигляд відстежує зміни в моделі та реагує на них.</p></li>
        <li><p><em><b>Пасивна модель</b></em> - вигляд оновлюється через контролер.</p></li>
    </ul>
    <div class="model-container">
        <img src="https://hi-news.pp.ua/uploads/posts/2018-10/thumbs/programa-model-view-controller-mvc-scho-ce-osoblivost-opis_606.jpeg" />
        <img src="https://www.meme-arsenal.com/memes/2be0678fe311b9df883b5f0f3ca68c8d.jpg" />
    </div>
</main>