@{
    ViewData["Title"] = "View";
}
<header class="text-center">
    <h1 class="display-4">View</h1>
</header>
<main>
    <p>
        <img class="mvc" src="https://highload.today/wp-content/uploads/2022/12/MVC_pattern.png" />
        — це інтерфейс, з яким взаємодіє користувач, візуальна частина (наприклад, сторінка сайту). Задача <em>View</em> — зчитати інформацію,
        введену користувачем, і передати її в конкретний метод або функцію контролера, а також зчитувати дії користувача (натискання 
        кнопки або оновлення сторінки, що теж викликає метод або функцію з контролера).</p>
    <p><em><b>Вигляд</b></em> може являти собою будь-яке представлення інформації, одержуване на виході, наприклад графік чи діаграму. Одночасно 
        можуть співіснувати кілька виглядів (представлень) однієї і тієї ж інформації, наприклад гістограма для керівництва 
        компанії й таблиці для бухгалтерії.</p>
</main>
